body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parking-form, .parking-details {
  width: 500px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.margin-bottom {
  margin-bottom: 16px;
}

.btn {
  display: block;
  padding: 6px;
  width: 70px;
}

.btn-submit {
    margin: 0 auto;
}